<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="ieung">
    <meta name="date" content="2023.01.02">
    <meta name="discription" content="JPA회원 로그인 페이지">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <title>인텔리제이_로그인</title>
</head>
<body>
<form action="/login" method="post">
  <table>
    <caption>로그인</caption>
    <tr>
      <th>아이디</th>
      <td><input type="text" name="memId"></td>
    </tr>

    <tr>
      <th>비밀번호</th>
      <td><input type="password" name="memPw"></td>
    </tr>

    <tr>
      <th colspan="2"><button type="submit" value="로그인">로그인</button></th>
    </tr>

  </table>
</form>
</body>
</html>